In [1]:
1+2

3

In [2]:
age = 3

In [3]:
age

3

In [4]:
age = 5

In [5]:
age

5

In [6]:
seven_balls = 7
@seven_balls = 7

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3931062293.py, line 2)

In [7]:
True = 3

SyntaxError: cannot assign to True (2939735317.py, line 1)

In [8]:
true = 4

In [9]:
myname_is = "Adeola"

In [10]:
age = 9 
price = 300.49
name = "Adeola"

In [11]:
name

'Adeola'

In [12]:
price

300.49

In [13]:
age

9

In [14]:
location = "st' micheal"

In [15]:
my_money = 500
egg = 100
money_spent = my_money - egg

In [16]:
money_spent

400

In [17]:
adeola_gave = 200
balance = money_spent + adeola_gave

In [18]:
balance

600

In [19]:
balance/2

300.0

In [20]:
balance % 7

5

In [21]:
balance // 7

85

In [22]:
balance / 7

85.71428571428571

In [23]:
2**2

4

In [24]:
2*3

6

In [25]:
2**3

8

PEMDAS

In [27]:
#PEMDAS

In [28]:
#AREA_OF_A_CIRCLE

In [29]:
"""i leave at 
i leave at 
i leave at"""

'i leave at \ni leave at \ni leave at'

In [30]:
2**4 + 4

20

In [31]:
2**(4+4)

256

In [32]:
2^3

1

In [33]:
3 < 6

True

In [34]:
3>6

False

In [35]:
3>=6

False

In [36]:
5<=2

False

In [37]:
5<=10

True

In [38]:
5!=3

True

In [39]:
5==3

False

In [40]:
5==5

True

In [41]:
5=5

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2359669884.py, line 1)

In [42]:
1 is not 2

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
/var/folders/1k/3gcs97nj7r7cmrbqwqtmvqdh0000gn/T/ipykernel_2408/1952261205.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  1 is not 2

True

In [43]:
is = 2

SyntaxError: invalid syntax (2206220001.py, line 1)

In [51]:
first_name = "Adeola"
last_name = "Lawal"
full_name = first_name + last_name

In [49]:
full_name

'Adeola Lawal'

In [52]:
first_name*3

'AdeolaAdeolaAdeola'

In [53]:
first_name/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [54]:
len(first_name)

6

In [55]:
len(last_name)

5

In [56]:
"Adeola" == "adeola"

False

In [57]:
name = "adeola"

In [59]:
name.title()

'Adeola'

In [71]:
first_name = "Lola"
last_name = "Akin"
location = "Gbagada"
print(first_name,last_name,location)

Lola Akin Gbagada

In [67]:
about_me = f"my name is {first_name} {last_name}. i live at {location}."

In [68]:
about_me

'my name is Bayo Akin. i live at Gbagada.'

In [74]:
about_lola = "my name is {} {}. I live at {}.".format(last_name,location,first_name)

In [75]:
about_lola

'my name is Akin Gbagada. I live at Lola.'

In [ ]:
my_list = []
my_tuple = ()
my_dictionary = {"name": first_name}
my_set = {}

In [76]:
names = ["lola","ayo","sola","tayo"]
len(names)

4

In [78]:
numbers= [10, 15, 20, 25]
len(numbers)

4

In [79]:
numbers[1]

15

In [80]:
numbers[0]

10

In [81]:
numbers[3]

25

In [82]:
names[3]

'tayo'

In [87]:
names

['lola', 'ayo', 'kemi', 'tayo', 'Sola']

In [84]:
names[2] = "kemi"

In [86]:
names.append("Sola")

In [88]:
len(names)

5

In [89]:
names[4]

'Sola'

In [90]:
daddy_name = "Joseph"

In [91]:
daddy_name[2]

's'

In [92]:
daddy_name[2]="q"

TypeError: 'str' object does not support item assignment

In [93]:
names

['lola', 'ayo', 'kemi', 'tayo', 'Sola']

In [94]:
names[:3]

['lola', 'ayo', 'kemi']

In [95]:
names[1:3]

['ayo', 'kemi']

In [96]:
names[-1]

'Sola'

In [97]:
names[-2]

'tayo'

In [ ]:
Create

create truth table
create a list and apply
e.g Sort,